.vscode
.vscode-test
src
out/ai
out/applier
out/engine
out/test
out/*.map
*.ts
!*.d.ts
tsconfig.json
esbuild.js
.eslintrc*
.gitignore
node_modules
.github
commands-all.txt
images/remote-file-sync-demo.mov
images/remote-file-sync-demo.gif
